#Theory questions
1. P What are data structures, and why are they important
- Data structures organize and store data efficiently. They are crucial for optimizing performance in searching, sorting, and manipulating data.

2. Explain the difference between mutable and immutable data types with examples.
- Ans:Mutable data types means that the type of the data can be changed after its creation and immutable data type means the data type which cannot be changed after its creation

In [ ]:
#for example mutable
list = [1,2,3]
list[1]=100
print(list)

[1, 100, 3]

In [ ]:
#for example immutable
tuple = (1,2,3)
tuple[2]=100
print(tuple) #will show error

TypeError: 'tuple' object does not support item assignment

3.What are the main differences between lists and tuples in Python.
Ans: Main difference between list and tuple is that list is mutable and tuple is immutable.

4. Describe how dictionaries store data
- Dictionaries store data as key-value pairs. Each key is hashed and mapped to a specific value.

5. Why might you use a set instead of a list in Python?
- Sets automatically remove duplicates and offer faster membership tests (in operator) than lists.

6. What is a string in Python, and how is it different from a list?
- A string is an immutable sequence of characters, while a list is mutable and can store any data type.

7. How do tuples ensure data integrity in Python?
- Since tuples are immutable, their contents can't be changed, making them safe for storing constant or fixed data.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table stores key-value pairs using a hash function. Python dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?
- Yes, Python lists are heterogeneous; they can contain mixed data types like integers, strings, and objects.

10. Explain why strings are immutable in Python
- Strings are immutable for memory efficiency and security. This ensures consistent behavior when shared across programs.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer faster lookups using keys and are ideal for mapping, whereas lists require linear searches.

12. Describe a scenario where using a tuple would be preferable over a list
- Tuples are ideal when data shouldnt change, like coordinates, config settings, or database keys.

13. How do sets handle duplicate values in Python?
- Sets automatically discard duplicate values and store only unique elements.

14. How does the “in” keyword work differently for lists and dictionaries?
- In lists, in checks if an element exists. In dictionaries, it checks for the existence of a key only.

15. Can you modify the elements of a tuple? Explain why or why not
- No, tuples are immutable. Once created, their elements cannot be changed or reassigned.

16. What is a nested dictionary, and give an example of its use case
- A nested dictionary is a dictionary inside another.
Example: students = {"101": {"name": "A", "grade": "B"}}

17. Describe the time complexity of accessing elements in a dictionary
- Accessing an element by key in a dictionary has average O(1) time complexity due to hashing.

18. In what situations are lists preferred over dictionaries?
- Use lists when order matters or when you need to store simple sequences without key-value relationships.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Older versions of Python (<3.7) didn’t maintain insertion order. Retrieval is based on keys, not order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- Lists use index positions (e.g., list[0]), while dictionaries use keys (e.g., dict["name"]) for data access.

# Practical questions

In [ ]:
#1.Write a code to create a string with your name and print it
name = "Pallavi Babulkar"
print(name)

Pallavi Babulkar

In [ ]:
#2.Write a code to find the length of the string "Hello World"
greet = "Hello World"
print(len(greet))

11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming
course = "Python Programming"
print(course[0:3])

Pyt

In [ ]:
#4.Write a code to convert the string "hello" to uppercase
string1 = "hello"
print(string1.upper())

HELLO

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
string1 ="I like apple"
print(string1.replace("apple","orange"))

I like orange

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it
list1=[1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
list1=[1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list1 =[1,2,3,4,5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list1=['a','b','c','d']
print(list1[1])

b

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50]
list1=[10,20,30,40,50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [1]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

In [7]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
a = ('red', 'green', 'blue', 'yellow')
print(a[1:])

('green', 'blue', 'yellow')

In [9]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15)
a=(10,20,5,15)
print(min(a))

5

In [10]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
a = ('dog', 'cat', 'rabbit')
print(a.index('cat'))

1

In [12]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
a = ('apple','banana','orange','kiwi')
print("kiwi" in a)

True

In [13]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it
a = {'a','b','c'}
print(a)

{'a', 'c', 'b'}

In [17]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
a = {1,2,3,4,5}
a.clear()
print(a)

set()

In [21]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
a = {1,2,3,4}
a.remove(4)
print(a)

{1, 2, 3}

In [22]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
a = {1,2,3}
b = {3,4,5}
c = a.union(b)
print(c)

{1, 2, 3, 4, 5}

In [23]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a ={1,2,3}
b={2,3,4}
c = a.intersection(b)
print(c)

{2, 3}

In [24]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it
info = {"name","age","city"}
print(info)

{'city', 'name', 'age'}

In [29]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
info = {'name':'john','age':25}
info["country"]="usa"
print(info)

{'name': 'john', 'age': 25, 'country': 'usa'}

In [30]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
info = {'name':'Alice','age':30}
print(info['name'])

Alice

In [34]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
info={'name':'bov','age':22,'city':'New York'}
del info["age"]
print(info)

{'name': 'bov', 'city': 'New York'}

In [35]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
info = {'name':'Alice','city':'Paris'}
print("city" in info)

True

In [36]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all
list1 = [1,2,3]
tuple1 = (4,5,6)
dic ={'a':1,'b':2,'c':3}
print(list1)
print(tuple1)
print(dic)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2, 'c': 3}

In [37]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
list1 = [1,21,42,65,43]
list1.sort()
print(list1)

[1, 21, 42, 43, 65]

In [38]:
#28.Write a code to create a list with strings and print the element at the third index
list1 = ['cat','dog','cow','sheep']
print(list1[2])

cow

In [39]:
#29. Write a code to combine two dictionaries into one and print the result.
dic1 = {'a':1,'b':2}
dic2 = {'c':3,'d':4}
dic1.update(dic2)
print(dic1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [40]:
#30. Write a code to convert a list of strings into a set.
list1 = ['apple','mango','banana']
set1 = set(list1)
print(set1)

{'apple', 'banana', 'mango'}